* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.title {
	font-family: 'Caveat', cursive;
}

.login {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 500px;
    height: 500px;
}

.id {
    width: 100%;
    height: 40px;
    border: solid 1px rgb(180, 180, 180);
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
}

.pw {
    width: 100%;
    height: 40px;
    border: solid 1px rgb(180, 180, 180);
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
}

.submit {
    margin-top: 10px;
    width: 522px;
    height: 60px;
    background-color: rgb(66, 66, 66);
    color: white;
    font-size: 25px;
    border-radius: 5px;
    border: none;
}

li {
    width: 522px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.list {
    line-height: 60px;
    height: 60px;
    width: 50%;
    border-radius: 5px;
    color: black;
    border: 1px solid rgb(180, 180, 180);
    margin-left: 5px;
    margin-right: 5px;
}

.ask {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
}

.btn_social {
    line-height: 60px;
    height: 60px;
    width: 50%;
    font-size: 100px;
}




